{% extends "hallinta_base.html" %}
{% block content %}

<h2>Jäsenluettelo</h2>

{% if message1 %}
<div class="alert alert-success">
    {{message1}}
</div>
{% endif %}

{% if message2 %}
<div class="alert alert-danger">
    {{message2}}
</div>
{% endif %}
<!--
<p>
    <a href="/kisky/rekisterointi" class="btn btn-primary">Lisää jäsen</a>
</p>
-->
<table class="table table-striped ">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Syntymävuosi</th>
            <th>Status</th>
            <th>Sähköposti</th>
            <th>Katuosoite</th>
            <th>Postitoimipaikka</th>
            <th>Puhelin</th>
            <th>Alaikäisen huoltaja</th>
            <th>Rinnakkais seura</th>
            <th>Laji</th>
        </tr>
    </thead>

    <tbody>
        <!-- Jäsenten listaus -->
        {% for jasen in jasenet %}
        <tr>
            <td>{{jasen.nimi}}</td>
            <td>{{jasen.syntyma}}</td>
            
            {% if jasen.status == 'true' %}
            <td><label class="label label-success">jäsen</label></td>
            {% endif %}
            
            {% if jasen.status == 'hallitus' %}
            <td><label class="label label-success">hallitus</label></td>
            {% endif %}
            
            {% if jasen.status == 'Kesken' %}
            <td><label class="label label-warning">kesken</label></td>
            {% endif %}
            
            {% if jasen.status == 'maksu' %}
            <td><label class="label label-warning">maksu!</label></td>
            {% endif %}
            
            <td>{{jasen.email}}</td>
            <td>{{jasen.katuosoite}}</td>
            <td>{{jasen.posti}}</td>
            <td>{{jasen.puhelin}}</td>
            <td>{{jasen.huoltaja}}</td>
            <td>{{jasen.seura}}</td>
            <td>{{jasen.laji}}</td>
            
            <!--aktiiviset ainostaan statuksen ollessa 'kesken' tai 'maksu'-->
            {% if jasen.status == 'Kesken' or jasen.status ==  'Maksu' %}  
            <th>
                <form method="post" action="{{base_path}}/jasenrekisteri/hyvaksy/{{jasen.id}}" style="display: inline-block;">
                    <button type="submit" class="btn btn-warning btn-xs">Hyväksy</button>
                </form>
            </th>
            {% endif %}
            {% if jasen.status == 'Kesken' %}
            <th>
                <form method="post" action="{{base_path}}/jasenrekisteri/poista/{{jasen.id}}" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger btn-xs">Poista</button>
                </form>
            </th>
            {% endif %}
        </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}

