{% extends "hallinta_base.html" %}
{% block content %}

<h3>
    {% if muokkaa %} Muokkaa {% else %} Luo {% endif %} kokous
</h3>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if muokkaa %}
    <form method="post" action="{{base_path}}/hallinta/kokous/paivita/{{attributes.kokous_id}}">
{% else %}  
    <form method="post" action="{{base_path}}/hallinta/kokous">
{% endif %}
    <div class="form-group">
        <div class="col-sm-4">
            <label>Päivä</label>
            <input type="text" id="pvm" name="pvm" class="form-control" required value="{{attributes.pvm}}" />

            <label>Aika</label>
            <input type="text" name="aika" class="form-control" required value="{{attributes.aika}}"/>

            <label>Paikka</label>
            <input type="text" name="paikka" class="form-control" value="{{attributes.paikka}}"/>
        </div>
        <div class="col-sm-2">
            <div>
                <label>Kokoustyyppi</label>
            </div>

            <div class="radio">
                <label><input type="radio" name="tyyppi" value="Yhdistyksen kokous" >Yhdistyksen kokous</label>
            </div>

            <div class="radio">
                <label><input type="radio" name="tyyppi"  value="Hallituksen kokous">Hallituksen kokous</label>
            </div>

            <div class="radio">
                <label><input type="radio" name="tyyppi" value="Vuosikokous">Vuosikokous</label>
            </div>
        </div>
        <!--
        OSALLISTUJAT
        -->
        <div class="col-sm-4">
            <button type="button" style="margin-bottom: 10px" class="btn btn-default btn-sm" id="myBtn" data-toggle="modal" data-target="#osallistujaModal">
                Valitse osallistujat</button>
            <!-- Modal osallistujat -->
            <div class="modal fade" id="osallistujaModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Valitse osallistujat</h4>
                        </div>

                        <div class="modal-body">
                            {% for jasen in jasenet %}

                            <div class="checkbox form-control" style="border: none" >
                                <label>
                                    <input type="checkbox" name="osallistujat[]" value="{{jasen.jasen_id}}"/>
                                    <p class="osallistuja">{{jasen.nimi}}</p>
                                </label>

                            </div>
                            {% endfor %}
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="toTextarea()" data-dismiss="modal" >Siirrä</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--modal osallistujat end-->

            <textarea id="textArea" rows="7" type="text" class="form-control" value=""></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label>Dokumentti</label>
        </div>

        <div class="form-group">
            <div class="col-sm-5">
                <input type="text" class="form-control" value="Nimi"/>
            </div>

            <div class="col-sm-5">
                <input type="text" class="form-control" value="linkki"/>
            </div>

            <div class="col-sm-1">
                <button type="submit" class="btn btn-info">Lisää kenttiä</button>
            </div>
        </div>
    </div>
    <!--
    jäsenmaksut
    -->
    {% if muokkaa == false %}
    <div class="form-group">
        <div class="col-md-4" style="margin-top: 20px">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#maksuModal">
                Uudet Jäsenmaksut
            </button>
            <!-- Modal jäsenmaksu -->
            <div class="modal fade" id="maksuModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="gridSystemModalLabel">Uudet jäsenmaksut</h4>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class='col-lg-8'>                                    
                                    <div class='col-lg-4'>  
                                        
                                        <div><label>Vuosi</label>
                                            <input type="number" name="vuosi" class="form-control" value="{{attributes.vuosi}}"/></div>

                                        <h4>Vuosimaksut:</h4>
                                        <div><label>Aikuinen</label>
                                            <input type="number" name="maara_aikuinen" class="form-control" value="{{attributes.maara_aikuinen}}"/></div>

                                        <div><label>Juniori</label>
                                            <input type="number" name="maara_lapsi" class="form-control" value="{{attributes.maara_lapsi}}"/></div>

                                        <div><label>SKIL-jäsenyys</label>
                                            <input type="number" name="maara_skil" class="form-control" value="{{attributes.maara_skil}}"/></div>
                                    </div>
                                    <div class='col-lg-4'>
                                        <div><label>Liittymismaksu</label>
                                            <input type="number" name="maara_liity" class="form-control" value="{{attributes.maara_liity}}"/></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Jatka kokouksen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="form-group">
    {% if muokkaa %}
        <div class="col-md-4" style="margin-top: 20px">
    {% else %}  
        <div class="col-md-2 col-sm-offset-6" style="margin-top: 20px">
    {% endif %}        
            <button type="submit" class="btn btn-primary">Tallenna</button>
        </div>
    </div>
</form>

<script>
    function toTextarea() {
        var osallistujaBox = document.getElementsByName("osallistujat[]");
        var osallistujaName = document.getElementsByClassName("osallistuja");
        var txt = "";
        var i;
        for (i = 0; i < osallistujaBox.length; i++) {
            if (osallistujaBox[i].checked) {
                txt = txt + osallistujaName[i].innerHTML + "\n";
            }
        }
        document.getElementById("textArea").value = txt;
    }
</script>
{% endblock %}