{% extends "hallinta_base.html" %}
{% block content %}

<h2>Luo tai muokkaa kokous</h2>

<form>
    <div class="form-group">
        <div class="col-sm-4">
            <label>Päivä</label>
            <input type="text" class="form-control" value="16.4.2015"/>

            <label>Aika</label>
            <input type="text" class="form-control" value="19:00"/>

            <label>Paikka</label>
            <input type="text" class="form-control" value="Paikallinen pizzeria"/>
        </div>

        <div class="col-sm-2">
            <div>
                <label>Kokoustyyppi</label>
            </div>

            <div class="checkbox">
                <label><input type="checkbox" value="">Yhdistyksen kokous</label>
            </div>

            <div class="checkbox">
                <label><input type="checkbox" value="">Hallituksen kokous</label>
            </div>

            <div class="checkbox">
                <label><input type="checkbox" value="">Vuosikokous</label>
            </div>
        </div>

        <div class="col-sm-4">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-default btn-sm" id="myBtn">Valitse osallistujat</button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <div class="modal-body">
                                <div class="checkbox">
                                    <label>Kira Kallio<input type="checkbox"></label>
                                    <label>Himo Kiipeilijä<input type="checkbox"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="text" class="form-control" value=""/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label>Dokumentti</label>
        </div>

        <div class="form-group">
            <div class="col-sm-5">
                <input type="text" class="form-control" value="Nimi"/>
            </div>

            <div class="col-sm-5">
                <input type="text" class="form-control" value="linkki"/>
            </div>

            <div class="col-sm-1 col-sm-offset-1">
                <button type="submit" class="btn btn-info">Lisää kenttiä</button>
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-3" style="margin-top: 20px">
            <button type="submit" class="btn btn-primary">Tallenna</button>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $("#myBtn").click(function () {
            $("#myModal").modal();
        });
    });
</script>
{% endblock %}