{% extends "hallinta_base.html" %}
{% block content %}

<h3>Luo tai muokkaa kokous</h3>

<form>
    <div class="form-group">
        <div class="col-sm-4">
            <label>Päivä</label>
            <input type="text" class="form-control" value="16.4.2015"/>

            <label>Aika</label>
            <input type="text" class="form-control" value="19:00"/>

            <label>Paikka</label>
            <input type="text" class="form-control" value="Paikallinen pizzeria"/>
        </div>

        <div class="col-sm-2">
            <div>
                <label>Kokoustyyppi</label>
            </div>

            <div class="radio">
                <label><input type="radio" name="optradio">Yhdistyksen kokous</label>
            </div>

            <div class="radio">
                <label><input type="radio" name="optradio">Hallituksen kokous</label>
            </div>

            <div class="radio">
                <label><input type="radio" name="optradio">Vuosikokous</label>
            </div>
        </div>

        <div class="col-sm-4">
            <button type="button" class="btn btn-default btn-sm" id="myBtn">Valitse osallistujat</button>
            <input type="text" class="form-control" value=""/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label>Dokumentti</label>
        </div>

        <div class="form-group">
            <div class="col-sm-5">
                <input type="text" class="form-control" value="Nimi"/>
            </div>

            <div class="col-sm-5">
                <input type="text" class="form-control" value="linkki"/>
            </div>

            <div class="col-sm-1 col-sm-offset-1">
                <button type="submit" class="btn btn-info">Lisää kenttiä</button>
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-4" style="margin-top: 20px">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                Uudet Jäsenmaksut
            </button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="gridSystemModalLabel">Uudet jäsenmaksut</h4>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <form>
                                    <div class='col-lg-8'>
                                        <div class='col-lg-4'>
                                            <div><label>Vuosi</label>
                                                <input type="text" class="form-control" value=""/></div>
                                            <h4>Vuosimaksut:</h4>
                                            <div><label>Aikuinen</label>
                                                <input type="text" class="form-control" value=""/></div>
                                            <div><label>Juniori</label>
                                                <input type="text" class="form-control" value=""/></div>
                                            <div><label>SKIL-jäsenyys</label>
                                                <input type="text" class="form-control" value=""/></div>
                                        </div>
                                        <div class='col-lg-4'>
                                            <div><label>Liittymismaksu</label>
                                                <input type="text" class="form-control" value=""/></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <form>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Tallenna</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Tallenna</button>
        </div>
    </div>
</form>

{% endblock %}