{% extends "base.html" %}
{% block content %}

<h2>Kirjaudu sisään</h2>

<!-- Kaikki lomakkeen elementit form-tagin sisään -->
<form>
    <div class="col-md-6">
        <!-- Tekstikenttä käyttäjätunnukselle -->
        <div class="form-group">
            <label>Käyttäjätunnus</label>
            <input type="text" class="form-control"/>
        </div>

        <!-- Salasanakenttä salasanalle -->
        <div class="form-group">
            <label>Salasana</label>
            <input type="password" class="form-control"/>
        </div>

        <a href="profiili" class="btn btn-primary">Temp login</a>
        <!-- <button type="submit" class="btn btn-primary">Kirjaudu sisään</button> -->
    </div>
</form>

{% endblock %}
