{% extends "hallinta_base.html" %}
{% block content %}
<p>voisi olla popup ikkuna mutten vielä onnistunnu siinä</p>
<form>
    <div class='col-sm-2'>

        <div><label>Liittymismaksu</label>
            <input type="text" class="form-control" value=""/></div>
        <h4>Vuosimaksut:</h4>
        <div><label>Aikuinen</label>
            <input type="text" class="form-control" value=""/></div>
        <div><label>Juniori</label>
            <input type="text" class="form-control" value=""/></div>
        <div><label>SKIL-jäsenyys</label>
            <input type="text" class="form-control" value=""/></div>
        <div class="col-md-3" style="margin-top: 20px">
            <a href="kokous" class="btn btn-primary">Temp tallenna</a>
            <!--<button type="submit" class="btn btn-primary">Tallenna</button>-->
        </div>
    </div>
</form>

{% endblock %}