{% extends "base.html" %}
{% block content %}
{% if user_logged_in %}

<h1>Muokkaa tietojasi ja salasanasi</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
    {% if message %}
    <div class="alert alert-success">
    {{message}}
</div>
{% endif %}
</div>
{% endif %}

<form  method="post" action="{{base_path}}/update/{{attributes.jasen_id}}" onsubmit="return tarkistaSala()">
    <div class="form-group">
        <div class="col-sm-6">
            <label>Nimi</label>
            <p style="font: bold">{{attributes.nimi}}</p>
        </div>
        <div class="col-sm-6">
            <label>Sähköposti</label>
            <input  type="email" id="email" name="email" class="form-control"  value="{{attributes.email}}"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <label>Salasana</label>
            <input id="sala1" type="text" name="sala" class="form-control" value="{{attributes.sala}}"/>
        </div>
        <div class="col-sm-6">
            <label>Salasana uudelleen</label>
            <input id="sala2" type="text" name="huoltaja" class="form-control" value="{{attributes.sala}}"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <label>Katuosoite</label>
            <input type="text" name="katuosoite" class="form-control" value="{{attributes.katuosoite}}"/>
        </div>
        <div class="col-sm-6">
            <label>Postinumero</label>
            <input type="text" name="posti" class="form-control" placeholder="01234 PAIKKAKUNTA" value="{{attributes.posti}}"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <label>Puhelin</label>
            <input type="text" name="puhelin" class="form-control" value="{{attributes.puhelin}}" />
        </div>
        <div class="col-sm-6">
            <label>Rinnakkainen seura</label>
            <input type="text" name="seura" class="form-control" value="{{attributes.seura}}" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <label>Kiipeilylaji (tällä hetkellä {{attributes.laji}})</label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <div class="col-sm-2">
                <label>
                    <input type="checkbox" name="laji[]" value="perinteinen"/>
                    Perinteinen
                </label>
            </div>
        </div>
        <div class="checkbox">
            <div class="col-sm-2">
                <label>
                    <input type="checkbox" name="laji[]"  value="tekninen"/>
                    Tekninen
                </label>
            </div>
        </div>
        <div class="checkbox">
            <div class="col-sm-2">
                <label>
                    <input type="checkbox" name="laji[]" value="urheilu"/>
                    Urheilu
                </label>
            </div>
        </div>
        <div class="checkbox">
            <div class="col-sm-2">
                <label>
                    <input type="checkbox" name="laji[]" value="jää"/>
                    Jää
                </label>
            </div>
        </div>
        <div class="checkbox">
            <div class="col-sm-3">
                <label>
                    <input type="checkbox" name="laji[]" value="boulderointi"/>
                    Boulderointi
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <div class="row" style="margin-top: 10px">
                <div class="col-md-1">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"/>Muu
                        </label>
                    </div>
                </div>
                <div class="col-md-11">
                    <input type="text" name="laji[]" class="form-control" value=""/>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3" style="margin-top: 20px">
            <button type="submit" class="btn btn-primary">Päivitä</button>
        </div>
    </div>
</form>
<script>
    function tarkistaSala(){
        if(document.getElementById("sala1").value != document.getElementById("sala2").value){
            alert("Syötä samat salasanat kumpaankin kenttään");
            return false;
        }
    }
</script>
{% endif %}  
{% endblock %}