{% extends "base.html" %}
{% block content %}

<h1>Jäsenprofiili</h1>

<p style="font-style: italic"> tämä sivu näkyy kirjautuessa jäsenille<br>
    VIP-nappi tulee näkymään vain hallituksen jäsenille, vie jäsenrekisteriin </p>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<!-- Painikkeet tähän -->
<div class="row">
    {% if user_logged_in %}
    <div class="col-md-1">
        <form method="post" action="{{base_path}}/profiili/muokkaa_jasen/{{jasen.id}}" style="display: inline-block;">
           <button type="submit" class="btn btn-default">Muokkaa</button>
        </form>
    </div>

    <div class="col-md-2">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Näkyvyys
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Itselle</a></li>
                <li><a href="#">Jäsenille</a></li>
                <li><a href="#">Julkinen</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-1">
        <a href="{{base_path}}/hallinta/jasenrekisteri" class="btn btn-success">VIP</a>
    </div>
</div>
{% endif %}
<!-- Tiedot tulee listana tähän -->
<!-- Omat profiililisäykset ym, ehkä kuva 
<p></p>-->

<ul class="prof-ul">
    <li><strong>Nimi:</strong> {{jasen.nimi}} </li>
    <li><strong>Syntymäaika:</strong> {{jasen.syntyma}} <input type="checkbox" style="display: inline; display: none; margin-left: 10px;"> </li>
    <li><strong>Sähköposti:</strong> {{jasen.email}}</li>
    <li><strong>Osoite:</strong> {{jasen.katuosoite}}, {{jasen.posti}}</li>
    <li><strong>Puhelin:</strong> {{jasen.puhelin}}</li>
    <li><strong>Kiipeilylajit:</strong>{{jasen.laji}}</li>

    {% if jasen.status == 'true' or jasen.status == 'hallitus' %}
    <li><strong>Status:</strong> Jäsen; {{year}}</li> 
    {% endif %}

    {% if jasen.status == 'Kesken' %}
    <li><strong>Status:</strong> Hakemuksesi odottaa hyväksymistä</li>
    {% endif %}

    {% if jasen.status == 'maksu' %}
    <li><strong>Status:</strong> Jäsenmaksu vuodele "year now" maksamatta</li>
    {% endif %}
</ul>

{% endblock %}