{% extends "base.html" %}
{% block content %}

<h1>Hae yhdistyksen jäsenyyttä</h1>

<!--jäsenille tulee näkymään näin-->
<div hidden> 
    <h1>Muokkaa tietoja</h1>
</div>

<form  method="post" action="{{base_path}}/rekisterointi">
    <div class="form-group">
        <div class="col-sm-6">
            <label>Nimi</label>
            <input type="text" name="nimi" class="form-control" placeholder="Etu- ja sukunimi" required />
        </div>
        <div class="col-sm-6">
            <label>Sähköposti</label>
            <input id="email" type="email" name="email" class="form-control" required onchange="document.getElementById('sala').value = document.getElementById('email').value;"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <label>Syntymäaika</label>
            <input type="text" name="syntyma" class="form-control" required />
        </div>
        <div class="col-sm-6">
            <label>Alaikäisen huoltaja</label>
            <input type="text" name="huoltaja" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <label>Katuosoite</label>
            <input type="text" name="katuosoite" class="form-control" value="Katuosoite 10"/>
        </div>
        <div class="col-sm-6">
            <label>Postinumero</label>
            <input type="text" name="posti" class="form-control" value="01234 PAIKKA"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <label>Puhelin</label>
            <input type="number" name="puhelin" class="form-control" />
        </div>
        <div class="col-sm-6">
            <label>Rinnakkainen seura</label>
            <input type="text" name="seura" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <label>Kiipeilylaji (voi valita monta)</label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <div class="col-sm-2">
                <label>
                    <input type="checkbox" name="laji[]" value="perinteinen"/>
                    Perinteinen
                </label>
            </div>
        </div>
        <div class="checkbox">
            <div class="col-sm-2">
                <label>
                    <input type="checkbox" name="laji[]"  value="tekninen"/>
                    Tekninen
                </label>
            </div>
        </div>
        <div class="checkbox">
            <div class="col-sm-2">
                <label>
                    <input type="checkbox" name="laji[]" value="urheilu"/>
                    Urheilu
                </label>
            </div>
        </div>
        <div class="checkbox">
            <div class="col-sm-2">
                <label>
                    <input type="checkbox" name="laji[]" value="jää"/>
                    Jää
                </label>
            </div>
        </div>
        <div class="checkbox">
            <div class="col-sm-3">
                <label>
                    <input type="checkbox" name="laji[]" value="boulderointi"/>
                    Boulderointi
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <div class="row" style="margin-top: 10px">
                <div class="col-md-1">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"/>Muu
                        </label>
                    </div>
                </div>
                <div class="col-md-11">
                    <input type="text" name="laji[]" class="form-control" value=""/>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Automaattiset inputit -->
    <input type="text" style="display:none" name="status" class="form-control" value="Kesken"/>
    <input id="sala" style="display:none"  type="text" name="sala" class="form-control" />
    <!---->
    
    <div class="form-group">
        <div class="col-md-3" style="margin-top: 20px">
            <button type="submit" class="btn btn-primary">Tallenna</button>
        </div>
    </div>
</form>
{% endblock %}